<!DOCTYPE html>
<html lang="en">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Male Fashion</title>
    <meta name="keywords" content="HTML5 Template">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
 
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-6.css">
    <link rel="stylesheet" href="assets/css/demos/demo-6.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">    
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars" style="color: black;"></i>
                        </button>
 
                        <a href="/" class="logo main-nav">
                            <img src="assets/images/demos/demo-5/male.png"  alt="Molla Logo" width="145" height="30">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="sf-with-">Home</a>
                                </li>
                                <li>
                                    <a href="/productpage" class="sf-with">Product</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search dropdown-toggle cart-dropdown ">
                            <!-- <form > -->
                                <a href="#" class="search-toggle " id="searchproduct" role="submit" title="Search"><i class="icon-search"></i></a>
                                <div class="header-search-wrapper ">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="text" class="form-control" id="qwe" placeholder="Search in..." required>
                                    
                                </div>
                                
                                <div class="dropdown-menu dropdown-menu-right">
                                </div><!-- End .dropdown-menu -->
                          
                        </div><!-- End .header-search -->
                       <!-- End .compare-dropdown -->
                       
                       <div class="dropdown compare-dropdown">
                        <a href="/whishlist"><img src="asset/heart.png" alt=""></a>
                        <a href="/profile" class="wishlist-link" ><i class="icon-user"></i></a>
                        <a href="/cart" class="wishlist-link" ><i class="icon-shopping-cart"></i></a>

                        
                     </div>                     
                    </div>

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            <!-- End .header-middle -->
        </header><!-- End .header -->