<%- include('../partials/userheader') %>

        <main class="main">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" >
							   
							    <li class="nav-item">
							        <a class="nav-link active"  data-toggle="tab" role="tab" aria-controls="register-2" aria-selected="true">Sign In</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form action="/otppage" method="post" >
							    		<div class="form-group">
							    			<label for="register-email-2"> Email address *</label>
							    			<input type="email" class="form-control" id="register-email-2" name="email" required>
							    		</div><!-- End .form-group -->

							    		
							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>Send</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
										
			                				
							    		</div><!-- End .form-footer -->
							    	</form>
							    
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>


    <% if (locals.title) { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: '<%=title%>',
            showConfirmButton: false,
            timer: 2000
          });
        </script>
      <% } %>


      <%- include('../partials/userfooter') %>